<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Recent tasks</h1>
  <a routerLink="/task/new" mat-button>NEW TASK</a>
</div>

<div class="error" *ngIf="error | async" xmlns="http://www.w3.org/1999/html">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else tasksArea"
  mode="indeterminate"
></mat-progress-spinner>


<ng-template #tasksArea>
  <div class="new-card" fxLayout="column" fxLayoutAlign="space-around flex-start" fxLayoutGap="16px grid">
    <div class="container list-group col-8" *ngFor="let task of tasks | async; let i = index">
      <mat-card class="example-card">
        <mat-card-content>
          <span> <strong>Task {{ i + 1}} :  </strong> {{task.title}}</span>

          <select name="user" (change)="onEdit($event)">
            <option [value]="task.id" *ngIf="task.user.username !== null">{{task.user.username}}</option>
            <option [value]="null" *ngIf="task.user !== null">N/A</option>
            <ng-container *ngFor="let user of users | async">
              <option  [value]="user.id"  *ngIf="user.username !== task.user.username" >
                {{user.username}}
              </option>
            </ng-container>
          </select>

          <select name="status">
            <option value="{{task.id}}">{{task.status}}</option>
            <option value="new" *ngIf="task.status !== 'new'"> new </option>
            <option value="in_progress" *ngIf="task.status !== 'in_progress'"> in_progress </option>
            <option value="done" *ngIf="task.status !== 'done'"> done </option>
          </select>
         <button (click)="onDelete(task.id)"><mat-icon style="text-align: center">delete</mat-icon></button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
