.mat-card
  margin: 20px

select
  margin-left: 20px


example-card
  width: 300px
  height: 200px


button
  padding: 7px
  margin-left: 20px
  background-color: lightslategray


select
  padding: 7px
  background-color: lightgrey
