<h1>New Task</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>User</mat-label>
        <input name="user"  matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>title</mat-label>
        <input type="string" name="title" required matInput ngModel/>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
